@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



* {
  font-family: 'Poppins', sans-serif;
}

.spin-large .ant-spin-dot {
  font-size: 78px; /* Adjust the font size as needed to make the spinner larger */
}

.search {
  width: 20%;
}