* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    display: flex;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 6px #ccc;
}

.logo {
    width: 80px;
}

.nav-items ul li {
    list-style: none;
    margin: 20px;
    font-size: 18px;
}

.Card-container {
    transition: 0.1s ease-in;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.res-card {
    width: 250px;
    height: auto;
    padding: 10px;
    margin: 10px;
}

.res-card:hover{
    border: 1px solid #000;
    cursor: pointer;
    box-shadow: 0 0 16px #ccc;
}
.search {
    padding: 10px;
}

.res-logo {
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 6%;
}